*{
    margin: 16;
    padding: 0;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: rgb(90, 4, 18);
    margin-top: 24px;
    font-family: Verdana;
}
p{ 
    color: rgb(185, 27, 53);
    margin-top: 24px;
    margin-left: 24;
}